{% extends 'base.html' %}
{% set title = 'Profile' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="container-fluid">
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.bio) }}
            {{ render_field(form.photo, class="custom-file", id="input_file") }}

        </dl>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {% if photo_filename %}
        <br>
        <p>Current photo:</p>
        <img src="{{url_for('static', filename='images')}}/{{ photo_filename }}" class="img-thumbnail" width="15%">
    {% endif %}
</div>
{% endblock %}